html
  head
    link(rel="stylesheet", href="@@webRoot/components/storybox/storybox.css")
    script(defer, src="@@webRoot/components/storybox/storybox.js")
  body
    #story-box
      #story-content Welcome to Xmas Dimension. Only worthy ones can open the heart of the Santa.
      