html
  link(rel='stylesheet', type="text/css", href='style.css')
  include @@webRoot/components/header/index.pug
  body
    audio(autoplay loop)
        source(src='@@webRoot/../assets/sounds/cozy_sound.mp3', type='audio/mpeg')
    include @@webRoot/components/door/right-door.pug
    include @@webRoot/components/storybox/index.pug
    include @@webRoot/components/flower/flower.pug
    include @@webRoot/components/lock/lock.pug
    script(defer, type="module",src="index.js")