html
  head
    link(rel="stylesheet", type="text/css", href="@@webRoot/components/popup/popup.css")
    script(defer, src="@@webRoot/components/popup/popup.js")
  body
    #christmas-popup-overlay
    #christmas-popup
        .popup-content
            h2 Not the worthy one. You shall not join the ride
            iframe(src="https://giphy.com/embed/ljH8TvHVMhpaezLmJr", width="480", height="270", frameborder="0", class="giphy-embed", allowfullscreen)
