html
  head
    link(rel='stylesheet', type='text/css', href='@@webRoot/components/door/door.css')
  body
    .door-wrapper(id="left-door-wrapper")
      .door(id="left-door")
        .door-shape
        .door-shape
        .knob(id="left-knob")
