
doctype html
html
  head
    title Cross word Puzzle
    include @@webRoot/components/header/index.pug
    link(rel='stylesheet', type='text/css', media='screen', href='style.css')
    script(src="script.js")
  body
    audio(autoplay loop)
        source(src='@@webRoot/../assets/sounds/horror_sound2.mp3', type='audio/mpeg')

    #leftBox
      table#puzzle
    #rightBox
      table
        tr
          td
            input.butt(type="submit", value="Clear All", onclick="clearAllClicked()")
          td
            input.butt(type="submit", value="Check", onclick="checkClicked()")
          td
            input.butt(type="submit", value="Solve", onclick="solveClicked()")
          td
            input.butt(type="submit", value="Clue", onclick="clueClicked()", id="clueButton")
    table#hintsTable