@border: 1px solid black;
@float-left: left;
@clear-left: left;

#leftBox{
    float: @float-left;
}
#rightBox{
    float: @float-left;
    clear: @clear-left;
}
.butt{
    height:50px;
    width: 107px;
}
#puzzle{
    text-align: center;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border: @border;
}
.inputBox{
    width: 80px;
    height:80px;
    border: @border;
    text-align: center;
}
#hintsTable{
    width: 480px;
    float: @float-left;
    clear: @clear-left;
}